*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

body{
    background:#111;
    color:white;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}


nav{
    background:#000;
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#ff004f;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{  
    color:#ff004f;
}

section{
    padding:80px 50px;
    text-align:center;
    animation: fadeIn 1.5s ease;
}


.btn{
    display:inline-block;
    padding:10px 20px;
    background:#ff004f;
    color:white;
    text-decoration:none;
    border-radius:20px;
    margin-top :20px;
    border:none;
    cursor:pointer;
    transition:0.3s;
    
}

.btn:hover{
    background:white;
    color:#ff004f;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
height:100vh;
padding:0  0  0 10%;
}

.hero-text h3{
font-size:20px;
margin-bottom:10px;
}

.hero-text h1{
font-size:45px;
margin-bottom:10px;
}

.hero-text span{
color:#ff004f;
}

.hero-text h2{
font-size:25px;
margin-bottom:20px;
}

/* BUTTON */
.btn{
display:inline-block;
padding:12px 25px;
background:#ff004f;
color:white;
text-decoration:none;
border-radius:25px;
transition:0.3s;
}

.cv-btn {
  position: absolute;
  top: 80px;     /* move up/down */
  right: 20px;   /* move left/right */
  background: #ff0055;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.btn:hover{
background:#ff2e6d;
}

/* RIGHT IMAGE */
.hero-image img{
padding: 0px 0px 0px 200px;
width: 800px;
height:800px auto;
justify-content: flex-end;
align-items: end;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

.social-icons img {
  width: 55px;
  height: 55px;
  transition: 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(0 0 5px #ff004f);
}

.social-icons img:hover {
  transform: scale(1.3) rotate(5deg);
  filter: drop-shadow(0 0 20px #ff004f);
}


/* Email Contact Box */
.email-box{
  display: inline-flex;
  align-items: center;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 12px 25px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(255,0,79,0.6);
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

/* Email Icon */
.email-box img{
  width: 22px;
  margin-right: 10px;
}

/* Hover Effect */
.email-box:hover{
  background: #ff004f;
  transform: scale(1.1);
  box-shadow: 0 0 25px #ff004f;
}



.services{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
    flex-wrap:wrap;
}

.service-box{
    background:#1a1a1a;
    padding:20px;
    border-radius:10px;
    width:250px;
    transition:0.3s;
}

.service-box:hover{
    transform:scale(1.05);
}

form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
}


form input, form textarea{
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

form textarea{
    resize:none;
}


footer{
    background:#000;
    text-align:center;
    padding:20px;
    margin-top:50px;
}


@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}
